
Analyses/figures_nbs/mutants_docked_geometry-interactions.db
*.db
Analyses/figures_nbs/data/md_traj_analysis/
Analyses/figures_nbs/.ipynb_checkpoints/
Analyses/figures_nbs/data/docking_models/
Analyses/figures_nbs/data/cWza-S355C_conformation1_0050*
Analyses/figures_nbs/data/cWza-Y373C_conformation1_0337/*
Analyses/figures_nbs/data/cwza_af-prediction.zip
Analyses/figures_nbs/data/hydrophobic_contacts_cWza-S355C.json
Analyses/figures_nbs/data/hydrophobic_contacts_cWza-Y373C.json
Analyses/figures_nbs/data/hydrophobic_contacts_cWza-S355C_refined.json
Analyses/figures_nbs/data/hydrophobic_contacts_cWza-Y373C_refined.json
Analyses/figures_nbs/data/md_100ns_protein_popc.pdb
Analyses/figures_nbs/data/wzaD4-consensus-full.pdb
Analyses/figures_nbs/data/contacts_data_cWza-S355C.pkl
Analyses/figures_nbs/data/contacts_data_cWza-Y373C.pkl
