
Analyses/figures_nbs/mutants_docked_geometry-interactions.db
*.db
Analyses/figures_nbs/.ipynb_checkpoints/
Analyses/figures_nbs/data/*
Analyses/figures_nbs/hole2
Analyses/figures_nbs/nohup.hbonds.out
Analyses/figures_nbs/nohup.out

